<footer class="footer">
  <div class="footer-left">CASEV · http://10.142.3.123:3000 · Node.js</div>
  <div class="footer-right">© {{year}} Guardia Costiera Italiana — Solo uso interno</div>
</footer>
