PORT=3000
NODE_ENV=production
BASE_URL=http://10.142.3.123:3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=casev_db
DB_USER=root
DB_PASSWORD=camilla
SESSION_SECRET=casev2026SecretLungoERandom!
SESSION_MAX_AGE=86400000
ARCHIVIO_PATH=C:\Users\Administrator\PROGETTI-NAAF\CASEV\archivio-test
ESAMI_DB_PATH=C:\Users\Administrator\PROGETTI-NAAF\CASEV\data\esami.db
SMTP_HOST=smtp.guardiacostiera.gov.it
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=luigi.natale
SMTP_PASS=Camilla*032026
SMTP_FROM=luigi.natale@mit.gov.it
SMTP_DEBUG=false
SMTP_CONNECTION_TIMEOUT=20000
SMTP_GREETING_TIMEOUT=20000
SMTP_SOCKET_TIMEOUT=30000
ALLOW_PUBLIC_REGISTER=false