-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: casev_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `esami_access_log`
--

DROP TABLE IF EXISTS `esami_access_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_access_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `event` varchar(100) DEFAULT NULL,
  `ip` varchar(45) DEFAULT NULL,
  `user_agent` varchar(300) DEFAULT NULL,
  `details_json` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `esami_access_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_access_log`
--

LOCK TABLES `esami_access_log` WRITE;
/*!40000 ALTER TABLE `esami_access_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `esami_access_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esami_audit_log`
--

DROP TABLE IF EXISTS `esami_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_audit_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `actor_user_id` int DEFAULT NULL,
  `actor_role` varchar(50) DEFAULT NULL,
  `action` varchar(100) DEFAULT NULL,
  `entity_type` varchar(100) DEFAULT NULL,
  `entity_id` int DEFAULT NULL,
  `ip` varchar(45) DEFAULT NULL,
  `user_agent` varchar(300) DEFAULT NULL,
  `details_json` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `actor_user_id` (`actor_user_id`),
  CONSTRAINT `esami_audit_log_ibfk_1` FOREIGN KEY (`actor_user_id`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_audit_log`
--

LOCK TABLES `esami_audit_log` WRITE;
/*!40000 ALTER TABLE `esami_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `esami_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esami_classes`
--

DROP TABLE IF EXISTS `esami_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_classes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `command` varchar(150) NOT NULL,
  `category` enum('Piloti','Operatori di volo','Tecnici di volo') NOT NULL,
  `name` varchar(200) NOT NULL,
  `created_by_user_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  CONSTRAINT `esami_classes_ibfk_1` FOREIGN KEY (`created_by_user_id`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_classes`
--

LOCK TABLES `esami_classes` WRITE;
/*!40000 ALTER TABLE `esami_classes` DISABLE KEYS */;
INSERT INTO `esami_classes` VALUES (1,'Saguarcost Pescara','Operatori di volo','Operatori di Volo ATR Pescara',NULL,'2026-02-15 08:50:34'),(2,'Saguarcost Catania','Piloti','Piloti ATR 42 Catania',NULL,'2026-03-01 12:04:20');
/*!40000 ALTER TABLE `esami_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esami_exam_questions`
--

DROP TABLE IF EXISTS `esami_exam_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_exam_questions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `exam_id` int NOT NULL,
  `question_id` int NOT NULL,
  `chosen_key` enum('A','B','C','D') DEFAULT NULL,
  `is_correct` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `exam_id` (`exam_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `esami_exam_questions_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `esami_exams` (`id`) ON DELETE CASCADE,
  CONSTRAINT `esami_exam_questions_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `esami_questions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=943 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_exam_questions`
--

LOCK TABLES `esami_exam_questions` WRITE;
/*!40000 ALTER TABLE `esami_exam_questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `esami_exam_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esami_exams`
--

DROP TABLE IF EXISTS `esami_exams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_exams` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `instructor_user_id` int NOT NULL,
  `exam_type` varchar(150) NOT NULL,
  `num_questions` int NOT NULL,
  `topics_filter` text,
  `status` enum('ASSEGNATO','SVOLTO') NOT NULL DEFAULT 'ASSEGNATO',
  `assigned_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `taken_at` datetime DEFAULT NULL,
  `score_percent` decimal(5,2) DEFAULT NULL,
  `passed` tinyint(1) DEFAULT NULL,
  `deferred` tinyint(1) DEFAULT '0',
  `duration_minutes` int NOT NULL DEFAULT '120',
  `started_at` datetime DEFAULT NULL,
  `ends_at` datetime DEFAULT NULL,
  `timed_out` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `student_id` (`student_id`),
  KEY `instructor_user_id` (`instructor_user_id`),
  CONSTRAINT `esami_exams_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `esami_students` (`id`) ON DELETE CASCADE,
  CONSTRAINT `esami_exams_ibfk_2` FOREIGN KEY (`instructor_user_id`) REFERENCES `utenti` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_exams`
--

LOCK TABLES `esami_exams` WRITE;
/*!40000 ALTER TABLE `esami_exams` DISABLE KEYS */;
/*!40000 ALTER TABLE `esami_exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esami_instructors`
--

DROP TABLE IF EXISTS `esami_instructors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_instructors` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `surname` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `esami_instructors_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `utenti` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_instructors`
--

LOCK TABLES `esami_instructors` WRITE;
/*!40000 ALTER TABLE `esami_instructors` DISABLE KEYS */;
/*!40000 ALTER TABLE `esami_instructors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esami_question_banks`
--

DROP TABLE IF EXISTS `esami_question_banks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_question_banks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `exam_type` varchar(150) NOT NULL,
  `created_by_user_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  CONSTRAINT `esami_question_banks_ibfk_1` FOREIGN KEY (`created_by_user_id`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_question_banks`
--

LOCK TABLES `esami_question_banks` WRITE;
/*!40000 ALTER TABLE `esami_question_banks` DISABLE KEYS */;
INSERT INTO `esami_question_banks` VALUES (1,'pronto impiego O.V. ATR 42',NULL,'2026-02-15 10:14:40'),(2,'Rinnovo Pronto Impiego Ov Atr 42',NULL,'2026-02-15 12:55:39');
/*!40000 ALTER TABLE `esami_question_banks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esami_questions`
--

DROP TABLE IF EXISTS `esami_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_questions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `bank_id` int NOT NULL,
  `topic` varchar(200) DEFAULT NULL,
  `question` text NOT NULL,
  `opt_a` text NOT NULL,
  `opt_b` text NOT NULL,
  `opt_c` text NOT NULL,
  `opt_d` text NOT NULL,
  `correct_key` enum('A','B','C','D') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `bank_id` (`bank_id`),
  CONSTRAINT `esami_questions_ibfk_1` FOREIGN KEY (`bank_id`) REFERENCES `esami_question_banks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=233 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_questions`
--

LOCK TABLES `esami_questions` WRITE;
/*!40000 ALTER TABLE `esami_questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `esami_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `esami_students`
--

DROP TABLE IF EXISTS `esami_students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `esami_students` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `rank` varchar(80) NOT NULL,
  `name` varchar(100) NOT NULL,
  `surname` varchar(100) NOT NULL,
  `qualification` varchar(150) DEFAULT NULL,
  `email` varchar(150) NOT NULL,
  `class_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `role_at_assignment` varchar(30) DEFAULT 'allievo',
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `class_id` (`class_id`),
  CONSTRAINT `esami_students_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `utenti` (`id`) ON DELETE CASCADE,
  CONSTRAINT `esami_students_ibfk_2` FOREIGN KEY (`class_id`) REFERENCES `esami_classes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `esami_students`
--

LOCK TABLES `esami_students` WRITE;
/*!40000 ALTER TABLE `esami_students` DISABLE KEYS */;
/*!40000 ALTER TABLE `esami_students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gradi`
--

DROP TABLE IF EXISTS `gradi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gradi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codice` varchar(20) NOT NULL,
  `descrizione` varchar(100) NOT NULL,
  `categoria` enum('Piloti','Operatori di volo','Tecnici di volo','Tutti') DEFAULT 'Tutti',
  `ordine` int DEFAULT '0',
  `attivo` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codice` (`codice`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gradi`
--

LOCK TABLES `gradi` WRITE;
/*!40000 ALTER TABLE `gradi` DISABLE KEYS */;
/*!40000 ALTER TABLE `gradi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_accessi`
--

DROP TABLE IF EXISTS `log_accessi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_accessi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utente_id` int DEFAULT NULL,
  `username_tentato` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `esito` enum('successo','fallito') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `utente_id` (`utente_id`),
  CONSTRAINT `log_accessi_ibfk_1` FOREIGN KEY (`utente_id`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=306 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_accessi`
--

LOCK TABLES `log_accessi` WRITE;
/*!40000 ALTER TABLE `log_accessi` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_accessi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news`
--

DROP TABLE IF EXISTS `news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `news` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titolo` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `contenuto` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `excerpt` varchar(400) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `categoria` enum('normativa','addestramento','circolare','avviso','comunicato','altro') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'comunicato',
  `pubblica` tinyint(1) DEFAULT '1',
  `in_evidenza` tinyint(1) DEFAULT '0',
  `autore_id` int DEFAULT NULL,
  `published_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `autore_id` (`autore_id`),
  KEY `idx_news_pubblica` (`pubblica`,`published_at`),
  CONSTRAINT `news_ibfk_1` FOREIGN KEY (`autore_id`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news`
--

LOCK TABLES `news` WRITE;
/*!40000 ALTER TABLE `news` DISABLE KEYS */;
/*!40000 ALTER TABLE `news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utente_id` int NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` datetime NOT NULL,
  `used` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `utente_id` (`utente_id`),
  CONSTRAINT `password_reset_tokens_ibfk_1` FOREIGN KEY (`utente_id`) REFERENCES `utenti` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES (4,19,'89b9efdd7584e9c46ec407f5302cb9b243353e38253d2d7c5f6b3e7251fd2038','2026-03-10 18:46:29',1,'2026-03-10 15:46:28');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personale`
--

DROP TABLE IF EXISTS `personale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personale` (
  `id` int NOT NULL AUTO_INCREMENT,
  `matricola` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `cognome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `grado` varchar(80) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `categoria` enum('pilota','operatore','tecnico') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `qualifica` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_nascita` date DEFAULT NULL,
  `luogo_nascita` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sede_assegnazione` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_immissione` date DEFAULT NULL,
  `stato` enum('attivo','sospeso','in_quiescenza','trasferito') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'attivo',
  `email_istituzionale` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `utente_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `matricola` (`matricola`),
  KEY `idx_personale_categoria` (`categoria`),
  KEY `idx_personale_stato` (`stato`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personale`
--

LOCK TABLES `personale` WRITE;
/*!40000 ALTER TABLE `personale` DISABLE KEYS */;
/*!40000 ALTER TABLE `personale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pratiche`
--

DROP TABLE IF EXISTS `pratiche`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pratiche` (
  `id` int NOT NULL AUTO_INCREMENT,
  `personale_id` int NOT NULL,
  `tipo` enum('licenza','abilitazione','idoneita_medica','corso','addestramento','sanzione','encomio','altro') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `titolo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `descrizione` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `numero_pratica` varchar(80) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_emissione` date DEFAULT NULL,
  `data_scadenza` date DEFAULT NULL,
  `ente_emittente` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `percorso_file` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nome_file` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stato` enum('valida','in_rinnovo','scaduta','revocata') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'valida',
  `note` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `inserito_da` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `personale_id` (`personale_id`),
  KEY `inserito_da` (`inserito_da`),
  KEY `idx_pratiche_tipo` (`tipo`),
  KEY `idx_pratiche_scadenza` (`data_scadenza`),
  KEY `idx_pratiche_stato` (`stato`),
  CONSTRAINT `pratiche_ibfk_1` FOREIGN KEY (`personale_id`) REFERENCES `personale` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pratiche_ibfk_2` FOREIGN KEY (`inserito_da`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pratiche`
--

LOCK TABLES `pratiche` WRITE;
/*!40000 ALTER TABLE `pratiche` DISABLE KEYS */;
/*!40000 ALTER TABLE `pratiche` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pubblicazioni`
--

DROP TABLE IF EXISTS `pubblicazioni`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pubblicazioni` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titolo` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` enum('manuale','circolare','decreto','normativa','checklist','altro') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `codice` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `edizione` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `revisione` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_vigenza` date DEFAULT NULL,
  `data_scadenza` date DEFAULT NULL,
  `percorso_file` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nome_file` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pubblica` tinyint(1) DEFAULT '1',
  `inserito_da` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `inserito_da` (`inserito_da`),
  CONSTRAINT `pubblicazioni_ibfk_1` FOREIGN KEY (`inserito_da`) REFERENCES `utenti` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pubblicazioni`
--

LOCK TABLES `pubblicazioni` WRITE;
/*!40000 ALTER TABLE `pubblicazioni` DISABLE KEYS */;
/*!40000 ALTER TABLE `pubblicazioni` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utenti`
--

DROP TABLE IF EXISTS `utenti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utenti` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `cognome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ruolo` enum('admin','gestore','istruttore','efv') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'efv',
  `categoria` enum('Piloti','Operatori di volo','Tecnici di volo') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `grado` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `specializzazione` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attivo` tinyint(1) DEFAULT '1',
  `ultimo_accesso` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `matricola` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sede_assegnazione` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qualifica` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_nascita` date DEFAULT NULL,
  `luogo_nascita` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `stato` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'attivo',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utenti`
--

LOCK TABLES `utenti` WRITE;
/*!40000 ALTER TABLE `utenti` DISABLE KEYS */;
/*!40000 ALTER TABLE `utenti` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-11 13:04:30
